.review__card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 20rem;
  min-width: 20rem;
  max-width: 20rem;
  height: 25rem;
  background-color: #fff;
  padding: 2rem 1rem;
  margin: 0 2rem;
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.2);
  border-radius: 3px;
  &__firstline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  &__avatar {
  }
  &__name {
    margin-left: 1rem;
    font-size: 1.5rem;
  }
  &__content {
    font-size: 1.3rem;
    color: $color-grey-dark-1;
  }
  &__rating {
    width: 100%;
  }
}
