.ant-input-group .ant-input {
  padding: 1.35rem;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  background-color: $color-primary !important;
  color: $color-grey-light-1 !important;
}
.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
  border-color: $color-primary !important;
}
.ant-btn-icon-only {
  width: 5rem !important;
}
.ant-btn:active {
  border-color: $color-primary-dark;
}
