.search {
  width: 100%;

  &__expandbtn {
    height: 5rem;
    border-top: 1px double $color-grey-dark-3;
    border-bottom: 1px double $color-grey-dark-3;
    padding: 1rem;
    &__icon {
      font-size: 1.8rem;
      margin-top: 0.5rem !important;
      color: $color-grey-dark-3 !important;
    }
  }
  &__btn {
    width: 5rem;
    background-color: #55c57a;
    border: none;
    cursor: pointer;
    &__icon {
      font-size: 2rem;
      color: #fff !important;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__input {
    width: 40%;
    height: 5rem;
    border: 1px solid $color-grey-dark-3;
    outline: none;
    background-color: #fff;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    color: $color-grey-dark-1;
    transition: all 0.2s;
    &::placeholder {
      color: $color-grey-dark-2;
    }
    &:focus {
      width: 45%;
      border-color: $color-primary-dark !important;
    }
  }
}
.advanced {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

  &__content {
    width: 40%;
    margin-left: 0.85rem;
    border: 1px dotted $color-primary-dark;
    border-top: 0;
    background-image: linear-gradient(to bottom, #fff, #efe);
  }
}
.ant-select-single .ant-select-selector .ant-select-selection-item {
  top: 5px !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $color-primary-dark !important;
  border-color: $color-primary-dark !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:hover,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $color-primary-light !important;
}
.priceSection {
  padding: 2rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__checkboxes {
    flex-direction: row;
  }
}
.greaterLower {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
}
.search_map .mapboxgl-map {
  height: 20rem;
  position: relative;
  width: 100%;
  margin-top: 1rem;
}
