.header {
  height: 90vh;
  margin-top: -5rem;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  color: #fff !important;
  &__content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__heading {
    width: 30%;
    font-size: 5rem;
    font-weight: 600 !important;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    &__icon {
      margin-right: 0.5rem;
      font-size: 1.6rem;
      font-weight: 600 !important;
    }
    &-span {
      padding: 1rem 1.5rem;
      box-decoration-break: clone;
      font-size: 2rem;
      &--1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
    }
  }
}
.waitSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #eee;
  padding: 40rem 0;
  margin-top: -20%;
}

.Whatwaiting {
  width: 70%;
  height: 15rem;
  padding: 10rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 1rem 2rem 4rem rgba($color: #000000, $alpha: 0.2);
}
.title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-primary;
}
.details {
  margin-top: -15rem;
  background-color: #fff;
  &__factItem {
    margin: 1rem 0;
    font-size: 1.5rem;
    display: flex;
    color: $color-grey-dark-1;
  }
  &__item {
    margin: 0 1rem;
  }
  &__subItem {
    color: $color-grey-dark-2;
    margin-bottom: 0;
  }
  &__icon {
    color: $color-primary !important;
    margin-right: 1rem;
    font-size: 2rem;
  }
  &__guide {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    &__role {
      text-transform: uppercase;
    }
  }
  &__mainTitle {
    display: inline-block;
    margin: 2rem 0;
    background-image: linear-gradient(
      to right,
      hsla(111, 55%, 64%, 0.8),
      hsla(160, 64%, 43%, 0.8)
    );

    color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    transition: all 0.2s;

    &:hover {
      text-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);
      transform: scale(1.2) skewX(2deg) skewY(3deg);
    }
  }
  &__about {
    background-color: #fff;
    width: 50%;
    padding: 20rem 8%;
    &__text {
      font-size: 1.5rem;
      line-height: 2;
      color: $color-grey-dark-1;
    }
  }
}
.gallery {
  display: flex;
  transform: skewY(-6deg);
  margin-top: -10rem;
  overflow: hidden;
  &__image {
    width: 33.333333%;
    display: inline-block;
    transform: skewY(6deg), scale(1.2);
  }
}
.mapContainer {
  background-size: cover;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  margin-top: -10rem;
  height: 70rem;
}
.reviewContainer {
  display: flex;
  align-items: center;
  background-size: cover;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  background-image: linear-gradient(
    to right,
    hsla(111, 55%, 64%, 0.8),
    hsla(160, 64%, 43%, 0.8)
  );
  width: 99vw;
  margin-top: -18rem;
  height: 70rem;
  padding: 2rem;
  overflow: hidden;
  &__box {
    display: flex;
    padding: 2rem 5rem;
    overflow-x: auto;
    width: 100%;
  }
}
