.nav {
  height: 5rem;
  width: 100vw;
  box-shadow: 0rem 1rem 2rem rgba($color: #000000, $alpha: 0.2);
  display: flex;
  justify-content: space-between;

  &__buttons-group {
    display: flex;
    &:last-of-type {
      margin-right: 2rem;
    }
  }
  &__logo {
    height: 5rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    &--img {
      height: 4rem;
    }
  }
}
.navbtn {
  width: 10rem;
}
.ant-btn,
.ant-btn-icon-only {
  height: 5rem !important;
}
