.nav {
  height: 5rem;
  width: 100%;
  box-shadow: 0rem 1rem 2rem rgba($color: #000000, $alpha: 0.2);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 2;
  &__buttons-group {
    display: flex;
    &:last-of-type {
      margin-right: 2rem;
    }
  }
  &__logo {
    height: 5rem;
    display: flex;
    align-items: center;
    margin-left: 5rem;
    &--img {
      height: 4rem;
    }
  }
}
.navbtn {
  width: 10rem;
}
.ant-btn,
.ant-btn-icon-only {
  height: 5rem !important;
}
.flag {
  width: 2rem;
  margin-left: 1rem;
}
.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_profile_menu {
  display: flex;
  align-items: center;
}
