.guide {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  border-bottom: 1px solid $color-primary;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
    &__action {
      display: flex;
      margin-left: auto;
    }
    &__title {
      margin: 0;
      font-size: 1.6rem;
      font-weight: 600;
    }
    &__subtitle {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
}
