// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //define 1rem=10px 10/16*100=62.5%
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  background-color: $color-grey-light-1;
}

@import "pages/login/login";
@import "components/navBar/navBar";
@import "pages/Dashboard/dashboard";
@import "components/sideBar/sidebar";
@import "pages/me/me";
@import "pages/pageContainer/pageContainer";
@import "components/Loading/loading";
@import "components/RotatingCard/RotatingCard";
