// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //define 1rem=10px 10/16*100=62.5%
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  background-color: $color-grey-light-1;
}
#root {
  height: 100%;
}
@import "pages/login/login";
@import "components/navBar/navBar";
@import "pages/Dashboard/dashboard";
@import "pages/me/me";
@import "pages/pageContainer/pageContainer";
@import "components/Loading/loading";
@import "components/RotatingCard/RotatingCard";
@import "components/SearchBox/SearchInput";
@import "pages/TourDetails/TourDetails";
@import "components/mapBox/mapBox";
@import "components/Review/review";
@import "components/Footer/footer";
@import "pages/MyBookings/mybookings";
@import "pages/MyReviews/myReviews";
@import "pages/Billing/billing";
@import "components/Models/TourModel/tourModel";
@import "components/FloatingAddBtn/FloatingAddBtn";
@import "components/guide/guide";
@import "components/AddReview/addReview";
@import "pages/Statistics/statistics";
