.changeCoverImageBtn {
  position: absolute;
  width: 5rem;
  height: 5rem;
  z-index: 10000 !important;
  color: red;
  top: 6rem;
  right: 4rem;
}
.previewImageBtn {
  position: absolute;
  width: 5rem;
  height: 5rem;
  z-index: 10000 !important;
  color: red;
  top: 12rem;
  right: 4rem;
}
.circleButton {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 50% !important;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  ) !important;
  border: 1px solid $color-primary !important;
  color: $color-white !important;
}
.btnIcon {
  font-size: 2rem !important;
}
.ant-upload-list-picture-card-container {
  width: 20rem !important;
  height: 20rem !important;
}
.ant-upload-list {
  display: flex !important;
  align-items: center !important;
}

.list-sort-demo-wrapper {
  position: relative;
  background: #e6e6e6;
  overflow: hidden;
  height: 385px;
}

.list-sort-demo {
  margin: 40px auto;
  max-width: 350px;
  width: 90%;
  cursor: url("http://gtms02.alicdn.com/tps/i2/T1_PMSFLBaXXcu5FDa-20-20.png") 10
      10,
    pointer !important;
  position: relative;
  height: 305px;
}
.list-sort-demo > div {
  overflow: hidden;
}

.list-sort-demo-list {
  background: #fff;
  border-radius: 6px;
  margin: 5px auto;
  padding: 10px;
  height: 70px;
  transition: box-shadow 0.5s, transform 0.5s;
}

.list-sort-demo-list.list-drag-selected {
  box-shadow: 0 8px 20px #e6e6e6;
  transform: scale(1.1) !important;
}

.list-sort-demo-icon {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  vertical-align: top;
}
.list-sort-demo-text {
  width: 80%;
  display: inline-block;
}

.list-sort-demo-text h1 {
  font-size: 18px;
}

.list-sort-demo-text p {
  font-size: 12px;
}

@media screen and (max-width: 320px) {
  .list-sort-demo-text h1 {
    font-size: 14px;
    line-height: 28px;
  }
}
